<img class="baner" src="../../../assets/images/about.jpg" />

<div class="opis">
    <button class="opisB" mat-stroked-button  style="width: 100%; padding: 10px; border-bottom: 0px;" disabled>
      <b><h1 style="text-align: center; align-items: center; margin: auto;">
        The world's largest selection of courses
        <mat-icon>lightbulb</mat-icon>
      </h1></b></button>
    <button class="opisB" mat-stroked-button style="width: 100%; padding: 5px;" disabled>
      <b><h1 style="text-align: center; align-items: center; margin: auto;">
        Choose from 155,000 online video courses with new additions published every month
        <mat-icon style="margin-left: 10px;">cast_for_education</mat-icon></h1></b>
    </button>
  </div>

  <section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                    <h6 class="theme-color lead">A Lead UX &amp; UI designer based in Serbia</h6>
                    <p>I <mark>design and develop</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p>17th december 1998</p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>22 Yr</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>Sjenica</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>Pesterska bb, Sjenica</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>kamberkamberovic98@gmail.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>063 156 11 60</p>
                            </div>
                            <div class="media">
                                <label>Skype</label>
                                <p>skype.0404</p>
                            </div>
                            <div class="media">
                                <label>Freelance</label>
                                <p>Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="../../../assets/images/avatar.png" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                        <p class="m-0px font-w-600">Happy Clients</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                        <p class="m-0px font-w-600">Project Completed</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                        <p class="m-0px font-w-600">Photo Capture</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                        <p class="m-0px font-w-600">Telephonic Talk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
