body {
  min-height: 100vh;
}

.baner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80vh;
  }
  
.opis {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 90%;
}

  h1, p {
      text-align: center;
  }

  .row {
      width: 80%;
      align-items: center;
      align-content: center;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  @media(max-width: 980px) {
    .opis {
      display: none;
    }
    .baner {
      width: 100%;
      height: auto;
    }
}

.card {
  border-bottom: 1px solid black;
  box-shadow: 5px 10px;
  margin-bottom: 10px;
}

.card-img-top {
  max-height: 300px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

