<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card my-4 p-3">
            <div class="row main">
                <div class="col-12"><span>Cart</span></div>
            </div>
            <div class="row justify-content-center mrow">
                <div class="col-12" style="display: flex;"> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" width="35px" height="35px" /> <img src="https://img.icons8.com/color/48/000000/visa.png" width="35px" height="35px" /></div>
            </div>
            <form class="form-card">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="number" required><label class="form-control-placeholder p-0" for="number">CardNumber</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="name" required><label class="form-control-placeholder p-0" for="name">Cardholder'sName</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="sdate" required><label class="form-control-placeholder p-0" for="sdate">StartDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="expdate" required><label class="form-control-placeholder p-0" for="expdate">ExpirationDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="password" class="form-control p-0" id="passw" required><label class="form-control-placeholder p-0" for="passw">CVV</label> </div>
                    </div>
                </div>
                <div class="row lrow mt-4 mb-3">
                    <div class="col-sm-8 col-12">
                        <h3>Grand Total:</h3>
                    </div>
                    <div class="col-sm-4 col-12">
                        <h5>&#36; {{price}} </h5>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12"> <button type="button" (click)="pay()" class="btn btn-primary btn-block">Pay</button> </div>
                </div>

                <div style="width: 50%; align-items: center; text-align: center; margin: auto; display: flex;" *ngIf="this.message != undefined" class="alert alert-primary" role="alert">
                    {{this.message}}
                    </div>
                <ngx-spinner>
                    <p style="color: white" >Checking payment information...</p>
                  </ngx-spinner>
            </form>
        </div>
    </div>
</div>
<div style="width: 50%; align-items: center; text-align: center; margin: auto; display: flex;"  role="alert">
    <ngb-alert *ngIf="this.eror != undefined" style="margin-top: 5px; color: red;" type="custom" [dismissible]="false"><strong style="margin-right: 20px;">Whoops!</strong> {{eror}}</ngb-alert>
    </div>