<!-- <script>
    function validateForm(){
        var pswd1 = document.getElementById("pass");
    var pswd2 = document.getElementById("pass2");

    if(pswd1 != pswd2){
        document.getElementById("message2").innerHTML = "**Passwords are not same";
      return false;
    
    }
    }

</script> -->



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../../assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign UP
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="username" formControlName="email" placeholder="Enter email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
                    <span class="label-input100">First Name</span>
                    <input class="input100" type="text" name="username" formControlName="name" placeholder="Enter name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="Last name is required">
                    <span class="label-input100">Last Name</span>
                    <input class="input100" type="text" name="username" formControlName="surname" placeholder="Enter last name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="Last name is required">
                    <span class="label-input100">Role</span>

                    <mat-form-field appearance="fill">
                        <mat-label>Select your role (required)</mat-label>
                        <select matNativeControl required formControlName="role">
                          <option label="--select something --"></option>
                          <option value="student">Student</option>
                          <option value="teacher">Teacher</option>
                        </select>
                        <mat-error *ngIf="signupForm.hasError('required')">
                          This field is required
                        </mat-error>
                        <mat-hint>You can pick up your favorite car here</mat-hint>
                      </mat-form-field>

                    <!-- <input class="input100" type="text" name="username" formControlName="role" placeholder="role">
                    <span class="focus-input100"></span> -->
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <!-- <input class="input100" id="pass" type="password" name="pass" formControlName="password" placeholder="Enter password">
                    <span class="focus-input100"></span> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Link to profile image</span>
                    <input class="input100" type="text" name="pass" formControlName="image" placeholder="Link to image">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <mat-error *ngIf="eror != undefined">
                        {{eror}}
                    </mat-error>
                </div>

                <div class="container-login100-form-btn">
                    <button [disabled]="!signupForm.valid" class="login100-form-btn" type="submit" value="submit" >
                        Signup
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>