<div class="container">
    <div class="row" style="margin-top: 10px;">
      <div class="col-sm-8">
        <div class="embed-responsive embed-responsive-21by9">
            <iframe allowfullscreen class="embed-responsive-item" [src]="videoUrl"></iframe>
          </div>
      </div>
      <div class="col-sm-4">
        <h1> {{course?.Title}} </h1>
        <h3> {{course?.Description}} </h3>
        <img src="{{course?.Image}}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
          <!-- add some elements -->
      </div>

      <div class="col-sm">
    <form [formGroup]="ratingForm" (ngSubmit)="Clicked()">
         <ngb-rating [(rate)]="rating" style="margin-left: 30%; margin-top: 10px;"  >
             <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100"  [class.bad]="index < 3">&#9733;</span>
        </ng-template>
        </ngb-rating>
    <hr>
    <pre>Rate this course with: <b>{{rating}} stars: </b></pre>
    <button 
        type="submit" 
        mat-raised-button 
        color="primary" 
        (click)="Clicked()"
        style="margin: auto; display: flex; justify-content: center; width: 40%; margin-bottom: 10px;"
        >Rate</button>
    </form>
      </div>
      <div class="col-sm">
          <!-- add some elements -->
      </div>
    </div>
  </div>
